.masthead {
 min-width: 700px;
 width: 60%;
 max-width: 960px;
 height: 100px;
 background-color: transparent;
 border-bottom: 10px solid #cccccc;
 margin: 0 auto;
 margin-bottom: 40px;
}

.masthead .logo {
 height: 70px;
 width: 200px;
 position: relative;
 top: 40px;
 left: 20px;
 background-size: contain;
 background-repeat: no-repeat;
 display: inline-block;
 font-size: 2rem;
}

.wrapper {
 width: 80%;
 margin: 0 auto;
 margin-bottom: 10%;
}

.image-cover {
 max-width: 100%;
 background-size: cover;
 background-position: center;
 margin-bottom: 10%;
}
