.full-container {
 margin-bottom: 10%;
}

.about-title-section {
 font-family: "Oswald", sans-serif;
 text-align: center;
 margin-top: 8%;
 margin-bottom: 5%;
}

.about-container-Card {
 width: 100%;
 text-align: center;
}

.about-title {
 color: grey;
 font-size: 18px;
}

.about-logo {
 padding-right: 3%;
}

.about-button-know-more {
 border: none;
 outline: 0;
 display: inline-block;
 padding: 8px;
 color: white;
 background-color: #000;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;
 font-family: "Oswald", sans-serif;
}
.circular-image {
 border-radius: 50%;
}
