.container {
    font-family: 'Oswald', sans-serif;
}

.content {
    // margin-bottom: 5%;
    max-width: 80%;
    margin: auto;
    padding-top: 2% ;
    margin-bottom: 3%;
    font-size: 1.5rem;
}

.boutonenvoienewsletter{
    display: flex;
    justify-content: center;
  }